*{
    margin:0;
    padding:0;
   *box-sizing:border-box;
}

html{
  * scroll-behavior:smooth;
}

body{
*   font-family:'Montserrat',sans-s*rif;
    color:#333;
    backgroun*:#fff;
    line-height:1.7;
}

.co*tainer{
    max-width:1200px;
    *argin:auto;
    padding:0 20px;
}
*.narrow{
    max-width:850px;
}

h*ader{
    background:white;
    bo*der-bottom:1px solid #eee;
    pos*tion:sticky;
    top:0;
    z-inde*:1000;
}

.nav{
    display:flex;
*   justify-content:space-between;
*   align-items:center;
    padding*15px 20px;
}

.logo{
    width:140*x;
    height:auto;
}

nav a{
    *ext-decoration:none;
    color:#55*;
    font-weight:500;
    margin-*eft:25px;
}

nav a:hover{
    colo*:#888;
}

.hero{
    min-height:75*h;
    background:#8a8a8a;
    dis*lay:flex;
    justify*content:center;
    align-items:ce*ter;
    text-align:center;
    co*or:white;
    padding:40px 20px;
}*
.hero-content{
    max-width:800p*;
}

.hero h1{
    font*size:3rem;
    font-weight:300;
  * margin-bottom:20px;
}

.hero p*
    font*size:1.1*em;
}

*buttons*
    margin-top:35px;
}

.btn{
   *display:inline-block;
    padding:*4px 30px;
    background:white;
  * color:#444;
    text-decoration:n*ne;
    border-radius:50px;
    ma*gin:5px;
    font-weight:600;
}

.*tn-outline{
    background:transpa*ent;
    border:2px solid white;
 *  color:white;
}

.section{
    pa*ding:90px 0;
}

.grey{
    backgro*nd:#f7f7f7;
}

h2{
    text-align:*enter;
    font-size:2rem;
    fon*-weight:400;
    margin-bottom:40p*;
}

.services{
    display:grid;
*   grid-template-columns:repeat(au*o-fit,minmax(220px,1fr));
    gap:*0px;
}

.service-card{
    backgro*nd:white;
    padding:40px 20px;
 *  border-radius:10px;
    text-ali*n:center;
    box-shadow:0 6px 18p* rgba(0,0,0,0.07);
}

.gallery{
  * display:grid;
    grid*template-columns:repeat(auto-fit,m*nmax(300px,1fr));
    gap:20px;
}
*.gallery img{
    width:100%;
    *eight:300px;
    object*fit:cover*
    border-radius:10px;
}

.conta*t-links{
    margin-top:30px;
}

.*ontact-links a{
    display*block*
    text-decoration:none;
    col*r:#555;
    padding:15px;
    font*weight:500;
}

footer*
    background:#222;
    color:wh*te;
    text-align:center;
    pad*ing:25px;
}

@media*max-width:768px){

    .nav{
     *  flex-direction:column;
       *gap:15px;
    }

    nav a{
      * margin*0 10px;
    }

    .*ero h1{
        font-size:2rem;
  * }

    .logo{
        width:110px*
    }

    .*allery img{
        height:250px;
*   }
}
